header {
    color : rgb(0, 0, 0);
}
$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(0, 0, 0);

body {
  font: 130% $font-stack;
  color: $primary-color;
}
img {
    width: 100px;
}
nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block;
         
    }
  
    a {
      display: block;
      padding: 6px 150px;
      width: 100px;
      text-decoration: none;
    }
  }
  .service {
    display: flex;
    justify-content: space-between;
 
    &-wrapper{
      background-color: #f5f5f5;
    }
 
    &__item{
      text-align: center;
     }
 
    &__img {
      margin-bottom: 50px;
     }
 
    &__text {
      color: #1c1c1c;
      line-height: (22 / 16);
 
    &_bold {
      font-weight: 700;
    }
   }
 }